.Vazaar-Blue-Button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */   
    color: #FFFFFF;
    background: #589BFF;
    border-radius: 2.5px;
    border: none;
    cursor: pointer;
}