.Vazaar-Item-Container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 85%;
    min-width: 1000px;
    max-width: 1800px;
    height: 70%;
    min-height: 800px;
    max-height: 1000px;
    box-shadow: 24;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

}
.Vazaar-Item-Left{
    width: 60%;
}
.Vazaar-Item-Right{
    width: 40%;
}
.Vazaar-Item-Description-Title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;

    line-height: 24px;
    margin-bottom: 20px;
}
.Vazaar-Item-Description-body{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}
.Vazaar-Item-Title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    margin-right: 20px;
}
.Vazaar-Item-Note-body{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
.image-gallery-image{
    width: 400px;
    height: 400px;
}