.App {
  margin: 0 auto;
  text-align: center;
  max-height: 100vh;
  min-width: 1200px;
  /* max-width: 1920px; */
  max-height: 1080px !important;
  /* overflow-y: scroll; */
}

.Vazaar-poppins{
  display: inline-block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.Vazaar-Poiret{
  font-family: Poiret One;
  font-style: normal;
  font-weight: normal;
}

.Vazaar-Roboto-normal{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.Vazaar-Roboto-bold{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}